<div id="containerFrontPage">
  <%= form_for :session, url: login_path, id: "signUpForm" do |f| %>
    <%= render "shared/flash" %>
    <div id="signUpTitleContainer"><%= t "form.title_login" %></div>
    <div id="rainbowForSignup"></div>
    <div id="containerForUserEmailInput">
      <%= f.email_field :email, id: "userEmailInput", class: "doRemoveFront registerInput", title: t("form.title.email"), placeholder: t("form.title.email") %>
    </div>
    <div id="containerForUserPasswordInput">
      <%= f.password_field :password, id: "userPasswordInput", class:"doRemoveFront registerInput", title: t("form.title.password"), placeholder: t("form.title.password") %>
    </div>
    <%= f.label :remember_me, class: "checkbox inline" do %>
    <%= f.check_box :remember_me %>
    <span><%= t "form.remember_me" %></span>
    <% end %>
    <div id="signUpButton">
     <%= f.button t("form.title_login"), class: "btn btn-success", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Logging in..."} %>
    </div>
    <div id="forgotPass">
    <%= link_to t("form.forget"), "#" %>
    </div>
    <div id="rainbowForSignup"></div>
  <% end %>

  <div id="alreadyMember">
    <div id="alreadyMemberText"><%= t("form.dont_have_account", sigin_path: link_to(t("form.btn_signup"), new_basic_trainee_user_path)).html_safe %></div>
  </div>
</div>
