<%= form_for @user, id: "signUpForm" do |f| %>
  <div id="signUpTitleContainer"><%= t "form.title_signup" %></div>
  <div id="rainbowForSignup"></div>
  <%= render "shared/flash" %>
  <%= render "shared/error_messages", object: f.object %>
  <div>
    <%= f.text_field :name, id: "userNameInput", class: "doRemoveFront registerInput", title: t("form.title.name"), placeholder: t("form.title.name") %>
  </div>
  <div>
    <%= f.email_field :email, id: "userEmailInput", class: "doRemoveFront registerInput", title: t("form.title.email"), placeholder: t("form.title.email") %>
  </div>
  <div>
    <%= f.text_field :address, id: "userAddressInput", class: "doRemoveFront registerInput", title: t("form.title.address"), placeholder: t("form.title.address") %>
  </div>
  <div>
    <%= f.password_field :password, id: "userPasswordInput", class: "doRemoveFront registerInput", title: t("form.title.password"), placeholder: t("form.title.password") %>
  </div>
  <div>
    <%= f.password_field :password_confirmation, id: "userConfirmPasswordInput", class: "doRemoveFront registerInput", title: t("form.title.password_confirm"), placeholder: t("form.title.password_confirm") %>
  </div>
  <div>
    <%= f.number_field :phone_number, id: "userPhoneNumber", class: "doRemoveFront registerInput", title: t("form.title.phone_number"), placeholder: t("form.title.phone_number") %>
  </div>
  <div id="signUpButton">
   <%= f.submit t("form.btn_signup"), class: "btn btn-success" %>
  </div>
  <div id="rainbowForSignup"></div>
<% end %>
