  <div class="col-xs-12 col-sm-6 col-md-3">
    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
      <div class="mainflip">
        <div class="frontside">
          <div class="card">
            <div class="card-body text-center">
              <p>
                <%= image_tag user.avatar.url, class: "img-fluid" %>
              </p>
              <h4 class="card-title"><%= user.name %></h4>
              <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
            </div>
          </div>
        </div>
          <div class="backside">
            <div class="card">
              <div class="card-body text-center mt-4">
                <h4 class="card-title"><%= user.name %></h4>
                <p class="card-text"><%= user.address %></p>
                <p class="card-text"><%= user.email %></p>
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <a class="social-icon text-xs-center" target="_blank" href="#">
                        <i class="fa fa-facebook"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a class="social-icon text-xs-center" target="_blank" href="#">
                        <i class="fa fa-twitter"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a class="social-icon text-xs-center" target="_blank" href="#">
                        <i class="fa fa-skype"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a class="social-icon text-xs-center" target="_blank" href="#">
                        <i class="fa fa-google"></i>
                    </a>
                  </li>
                  <div class="dropdown">
                    <p class="more dropdown-toggle" data-toggle="dropdown"></p>
                    <ul class="dropdown-menu">
                      <li><%= link_to t("btn.btn_edit"), edit_user_path(user) %></li>
                      <li><%= link_to t("btn.btn_delete"), user, method: :delete, data: {confirm: t("confirm_mess")} %></li>
                      <li><%= link_to t("user.view_profile"), show_profile_user_path(user), data: {toggle: "modal"}, remote: true %></li>
                    </ul>
                  </div>
                </ul>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
