<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
  <%= image_tag @user_subject.subject_cover.url, class: "img-circle-course" %>
</div>
<div class="col-xs-11 col-sm-10 col-md-11 col-lg-10">
  <h3><%= @user_subject.subject_name %></h3>
  <p><%= @user_subject.subject_description %></p>
  <input type="hidden" id="course-id" value="<%= @course.id %>">
  <% unless @user_subject.finish? %>
    <%= link_to t("subject.finish"), finish_subject_basic_trainee_course_subject_path(@course,
      @user_subject), class: "btn btn-danger" %>
  <% end %>
</div>
<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
  <span class="label label-danger pull-right"><%= @user_subject.status %></span>
</div>
