<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
  <div class="item">
    <div class="list-group-item mh-180">
      <div class="media col-md-3">
        <figure class="pull-left">
          <%= image_tag course.cover.url, class: "media-object img-rounded img-responsive" %>
        </figure>
      </div>
      <div class="col-md-6">
        <h4 class="list-group-item-heading"><%= course.name %></h4>
        <p class="list-group-item-text"><%= course.description %>
        </p>
      </div>
      <div class="col-md-3 text-center">
        <div class="dropdown">
          <p class="settings dropdown-toggle" data-toggle="dropdown"></p>
          <ul class="dropdown-menu drop-option">
            <li><%= link_to t("btn.btn_edit"), edit_course_path(course) %></li>
            <li><%= link_to t("btn.btn_delete"), course, method: :delete, data: {confirm: t("confirm_mess")} %></li>
          </ul>
        </div>
        <h2 class="time"> <%= course.time_training %> <small><%= t "time.hours" %> </small></h2>
        <%= link_to t("btn.btn_view_more"), course_path(course), class: "btn btn-info btn-block" %>
      </div>
    </div>
  </div>
</div>
