<p><%= t ".hello", email: @resource.email %></p>

<p><%= t ".title_request" %></p>

<p><%= link_to t(".change_password"),
  edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t ".title_ignore" %></p>
<p><%= t ".title_change" %></p>
