<div class="col-md-3">
  <div class="product-item">
    <div class="pi-img-wrapper">
      <%= image_tag user_course.course.cover.url, class: "img-responsive", alt: user_course.course.name %>
      <div>
        <%= link_to t("btn.btn_learn"), "#", class: "btn" %>
      </div>
    </div>
    <h3><%= link_to user_course.course.name, "#" %></h3>
    <div class="pi-price"><%= l user_course.date_join, format: :short %></div>
    <div class="sticker sticker-new"><%= user_course.status %></div>
  </div>
</div>
