<div class="item-subject">
  <div class="row">
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 pd-6">
      <%= image_tag "course_default.jpg", class: "img-circle-course" %>
    </div>
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 pl-10">
      <div class="content-subject">
        <h4 class="name-subject"><%= subject.name %></h4>
        <p><%= subject.description %></p>
        <p class="show-content"><%= t "common.show_more" %></p>
        <p class="content-sub hidden"><%= subject.content %></p>
      </div>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
      <div class="dropdown">
        <p class="settings dropdown-toggle" data-toggle="dropdown"></p>
        <ul class="dropdown-menu">
          <li><%= link_to t("subject.view"), "#" %></li>
          <li><%= link_to t("btn.btn_delete"), "#", method: :delete, data: {confirm: t("confirm_mess")} %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
